<input type="text" [(ngModel)]="title">
{{title}}
<hr>
<input type="number" [(ngModel)]="power">
<p>{{power | exponential }}</p>
<hr>
<div *ngIf="title === 'nicolas'" >
  este es nicolas
</div>

<div *ngIf="title === 'julian'" >
  este es julian
</div>

<div *ngIf="title === 'camilo'" >
  este es camilo
</div>

<div [ngSwitch]="title" >
  <p *ngSwitchCase="'nicolas'">ngSwitch Este es nicolas</p>
  <p *ngSwitchCase="'julian'">ngSwitch Este es julian</p>
  <p *ngSwitchCase="'camilo'">ngSwitch Este es camilo</p>
  <p *ngSwitchDefault>No hay Match</p>
</div>

<button (click)="addItem()" >Add</button>

<ul>
  <li *ngIf="itemsArr.length ===0" >Lista vacia</li>
  <li *ngFor="let item of itemsArr; index as i">
    {{item}} {{i}}
    <button (click)="deleteItem(i)" >delete</button>
  </li>
</ul>