<div *ngIf="!producto" > 
    <mat-card>
        <mat-card-header>
            
        </mat-card-header>
        <mat-card-content>
           <app-spiner-loading></app-spiner-loading>
        </mat-card-content>
       
        
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>

</div>

<div  *ngIf="producto">
<mat-card>
    <mat-card-header>
        <mat-card-title>{{producto.title | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{producto.price | currency  }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{producto.description | slice:0:10}}</p>
    </mat-card-content>
    <div class="crop-image">
        <img [src]="producto.image" [alt]="producto.title">
    </div>
    
    <mat-card-actions>
        <a mat-raised-button [routerLink]="['/products',producto.id]">Ver detalle</a>
        <button 
            mat-flat-button color="primary"
            (click)="addCar(producto)">
            Agregar al carrito
        </button>
    </mat-card-actions>
</mat-card>
</div>
<!-- <h3 appHighlight>{{producto.title | uppercase }}</h3>
<hr>

<img [src]="producto.image" [alt]="producto.title">
<strong>{{producto.price | currency  }}</strong>
<p>{{producto.description | slice:0:8}}</p>
<p>{{today | date : 'HH:mm'}}</p>
<button 
    mat-flat-button color="primary"
    (click)="addCar(producto)">
    Agregar al carrito
</button>
<a [routerLink]="['/products',producto.id]">Ver detalle</a> -->

